

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="Monitorização do acesso dos utentes - USF Tempo de Cuidar">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="Monitorização TMRG - USF Tempo de Cuidar">
  <!--
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">
  <link rel="manifest" href="site.webmanifest">
  -->

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <style>
    .grafico  {
      background-image: url("img/logo_acolhimento_med.png");
      opacity: 1;
      background-size: contain;
      background-position: center; 
      background-repeat: no-repeat;}
    canvas { 
        position: absolute; 
     width: 100%; 
     height: 100%; 
     overflow: hidden;
}
    
    </style>
</head>